.container {
   background-color: #F8F9FA;
}

.form {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}


.left__img {
   max-width: 80%;
   margin: 3rem 0;
   /* background-color: black; */
}

.form__right {
   margin: 2rem 1rem;
}

.right__title {
   font-size: 3rem;
   color: #06D6A0;
}

.data__title {
   color: #64748B;
   margin-top: 1rem;
}

.data__input {
   padding: 0.6rem;
   width: 92%;
   border: 1px solid #c7c7c7;
   border-radius: 5px;
   outline: none;
}

.data__submit {
   margin-top: 1rem;
   padding: 0.6rem;
   width: 100%;
   border: 1px solid #c7c7c7;
   background-color: #06D6A0;
   border-radius: 7px;
   outline: none;
   font-size: 1rem;
   letter-spacing: 1px;
   color: white;
   cursor: pointer;
}

.data__submit:hover {
   background-color: #00ffbb;
}

span {
   font-size: 0.6rem;
   letter-spacing: 1px;
   color: rgb(255, 114, 114);
}

@media (max-width: 768px) {
   .form {
      flex-direction: column;
   }

   .left__img {
      display: flex;
      justify-content: center;
      max-width: 100%;
   }
}
